@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.login-form{
  margin: 20px;
  padding: 20px;
  background-color: cornflowerblue;
  border: 1.5px solid black ;
  border-radius :7px;;
}
.login-form button{
  margin: 20px;
  padding: 20px;
  background-color: darkblue;
  width:80%;
  color: #f2f2f2;
}
.login-form input {
  width: 80%;
  padding: 10px;
  margin: 10px;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width:auto;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: lightgray;
}
.btn-create-blog{
  color:white;
  background-color:#f3a039;
  border-radius:7px;
}
.btn-create-blog :hover{
  color:teal;
  background-color:darkgrey;
}
.navbar h1 {
  color: teal;
}
.navbar .links {
  margin-left: auto;
  color: teal;

}
.navbar .links:hover{
  font-size: large;
}
.navbar a {
  margin-left: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px;
  color: teal;
}
.navbar a:hover {
  color: black;
  text-decoration: solid;
}

.content {
  text-align: center;
  max-width:500px  ;
  margin: 45px auto;
  padding: 20px;
}
.blog-preview{
  padding:10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover{
  box-shadow: 1px 3px 5px #f3a039;
  border-radius: 8px;
}
.blog-preview h2 {
  font-size: 20px;
  color: #f3a039;
  margin-bottom: 8px;
}
.blog-preview a {
text-decoration: none;
}
.blog-details h2{
  font-size: 20px;
  color:#f3a039;
  margin-bottom: 10px;
}
.blog-details div{
  margin: 20px 0 ;
}
 .blog-details button{
  background: #f3a039;
  color: #fff;
  border: 0;
padding: 10px;
border-radius: 8px;
cursor: pointer;
} z
/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}